*.class
*.o
__pycache__/
/lab_2/Lab2/nbproject/private/
/lab_2/Lab2/build/
/lab_2/Lab2/dist/
/assign_1/MoistureSensor/nbproject/private/
/assign_1/MoistureSensor/build/
/assign_1/MoistureSensor/dist/
/assign_1/Controller/nbproject/private/
/assign_1/IrrigationDashboard/nbproject/private/
/assign_1/Controller/build/
/assign_1/Controller/dist/
/assign_1/IrrigationDashboard/build/
/assign_1/IrrigationDashboard/dist/
/assign_1/CheckNpe/nbproject/private/
/assign_1/CheckNpe/build/
/assign_1/CheckNpe/dist/
/lab_5/lab_5/nbproject/private/
/lab_5/lab_5/build/
/assign_2/java/nbproject/private/
/assign_2/java/build/